
.navbar-links{
    display: flex;
    list-style: none;
    background-color: #ffffff33;
    padding: 12px 7px;
    border-radius: 16px;
}
.navbar-links a {
    padding: 7px 12px;
}
.navbar-links li a{
    color: #fff;
    text-decoration: none;
}
.navbar-links a.active{
    background-color: #1E1E1E;
    
    border-radius: 12px;
}